@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #292c38;
    --background-white: #eee;
    --background-gary: #f5f5f5;
    --background-green: #2c9986;
    --text-color-dark: #333;
    --text-color-light: #848999;
    --text-color-white: #fff;
    --font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background-color: var(--background-white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

header {
    background-color: var(--primary-color);
    color: var(--text-color-white);
    padding: 1.313rem 0;
    margin-bottom: 2rem;
}

footer {
    background-color: var(--background-green);
    color: var(--text-color-white);
    padding: 1.313rem 0;
    flex-shrink: 0;
    margin-top: 2rem;
}

header .container, footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a, footer .logo a{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color-white);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

header .nav-bar, footer .nav-bar{
    display: flex;
    gap: 1rem;
    list-style: none;
}

header .nav-bar :nth-child(1) .nav-link {
    color: var(--text-color-white);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

header .nav-bar :nth-child(2) .nav-link {
    color: var(--text-color-white);
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: var(--background-green);
}

footer .nav-bar .nav-link {
    color: var(--text-color-white);
    text-decoration: none;
}

main {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}
.text-center {
    text-align: center;
    margin-bottom: 1rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 1rem 0;
    color: var(--text-color-dark);
}

.title-h2 {
    font-size: 1.7rem;
    font-weight: 400;
    margin: 1rem 0;
    color: var(--text-color-dark);
}

.row .alert{
    padding: 0.7rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}

.row .alert.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.row .alert.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}