main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    min-height: 95vh;
}

main .text-center {
    text-align: center;
    margin-bottom: 1rem;
}

main .title {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

main .row .alert{
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}

main .row .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}


main .row .table th  {
    background-color:var(--background-green);
    color: var(--text-color-white);
    font-weight: 600;
    padding: 0.5rem;
}

main .row .table td {
    padding: 0.5rem;
    text-align: center;
    border-bottom: 1px solid #c4c4c4;
}

main .row .table tr:hover {background-color: #ddd;}
