main .row .alert{
    padding: 0.7rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    color: #721c24;
    background-color: #f8d7da;
}

main .row .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}


main .row .table th  {
    background-color:var(--background-green);
    color: var(--text-color-white);
    font-weight: 600;
    padding: 0.5rem;
}

main .row .table td {
    padding: 0.5rem;
    text-align: center;
    border-bottom: 1px solid #c4c4c4;
}

main .row .table tr:hover {background-color: #ddd;}
