<footer>
    <div class="container">
        <h1 class="logo">
            <a href="/">
                <img src="./assets/img/user-circle.svg" alt="" srcset="">
                Agenda
            </a>
        </h1>


        <p>
            Feito por @Guihsp
        </p>

        <nav>
            <ul class="nav-bar">
                <li class="nav-item">
                    <a href="https://github.com/Guihsp" class="nav-link" target="_blank">
                        Github
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.linkedin.com/in/guilherme-henrique-silva-pereira-9283b023a" class="nav-link" target="_blank">
                        Linkedin
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</footer>