<header>
    <div class="container">
        <h1 class="logo">
            <img src="./assets/img/user-circle.svg" alt="" srcset="">
            Agenda
        </h1>

        <nav>
            <ul class="nav-bar">
                <li class="nav-item">
                    <a href="/login" class="nav-link">login</a>
                </li>
                <li class="nav-item">
                    <a href="/register" class="nav-link">register</a>
                </li>
            </ul>
        </nav>
    </div>
</header>