<header>
    <div class="container">
        <h1 class="logo">
            <a href="/">
                <img src="./assets/img/user-circle.svg" alt="Logo">
                Agenda
            </a>
        </h1>

        <nav>
            <ul class="nav-bar">

                <% if (user) { %>
                    <li>
                        <a href="/contact" class="nav-link">Contatos</a>
                    </li>
                    <li>
                        <a href="/logout" class="nav-link">Sair</a>
                    </li>
                <% } else { %>
                    <li>
                        <a href="/login" class="nav-link">Entrar</a>
                    </li>
                    <li>
                        <a href="/register" class="nav-link">Cadastrar</a>
                    </li>
                <% } %> 

                
            </ul>
        </nav>
    </div>
</header>