<!DOCTYPE html>
<html lang="pt-BR">

<%- include('includes/head') %>

    <%- include('includes/header') %>

    <body>

        <main>
            <div class="container">
                <div class="gears">
                    <img src="/assets/img/settings-1.svg" class="gear-1">
                    <img src="/assets/img/settings-1.svg" class="gear-2">
                </div>
                <h1 class="text-center title">Erro 404</h1>
                <p class="text-center">
                    Ops! Página não encontrada.
                </p>
                <p class="text-center">
                    <a href="/">Voltar para a pagina inicial</a>
                </p>
            </div>
        </main>

        <%- include('includes/footer') %>

        <script src="/assets/js/bundle.js"></script>
    </body>

</html>