<!DOCTYPE html>
<html lang="pt-BR">

<%- include('includes/head') %>

    <body>

        <main>
            <div class="container">
                <h1 class="text-center title">404</h1>
                <p class="text-center">Pagina que voce tentou acessar não existe ou foi removida.</p>
                <p class="text-center">
                    <a href="/">Voltar para a pagina inicial</a>
                </p>
            </div>
        </section>

        <script src="/assets/js/bundle.js"></script>
    </body>

</html>